*{
  box-sizing: border-box;
}

html{
  font-size:62.5%;
  @media only screen and ( min-width: 2560px) {
    font-size: 17.77px;
  }

  @media only screen and ( min-width: 1920px) {
    font-size: 13.3px;
  }

  @media only screen and ( max-width: 1680px) {
    font-size: 11.66px;
  }

  @media only screen and (max-width: 1440px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 1366px) {
    font-size: 9.49px;
  }

  @media only screen and ( max-width: 1280px){
    font-size: 8.88px;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 7.11px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 5.33px;
  }

  @media only screen and (max-width: 666px) {
    font-size: 10px;
  }
  a{
    text-decoration: none;
  }
}
img{
  width: 100%;
  height: 100%;
}

.MuiBox-root{
  & .active{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background: #D53F8C;
      border-radius: 100%;
      top: 50%;
      transform: translateY(-50%);
      right: -2.3rem;
    }
  }
}